# Временные файлы сборки
*.obj
*.exe
*.pdb
*.ilk
*.suo
*.tlog
*.idb

# Папки Visual Studio (если откроете проект в IDE)
.vs/
Debug/
Release/

# Файл настроек (обычно локальные настройки не хранят в git, но решайте сами)
# Если хотите хранить дефолтный конфиг, закомментируйте следующую строку:
parser.ini
1Cv7.MD